<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression" verbose="5" data-provider-thread-count="1">
  <test name="Home Page">
    <classes>
      <class name="by.issoft.info.tests.homepage.CINFP350HeaderComposition"/>
      <class name="by.issoft.info.tests.homepage.CINFP393HeaderNavigationLinks"/>
    </classes>
  </test>
  <test name="Experiment !!! Experiment">
    <classes>
      <class name="by.issoft.info.tests.experiment.ExperimentalInfoPortalTest"/>
    </classes>
  </test>
</suite>